li>a::after {
    content: "  |";
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #018fa8, #01073f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #018fa8, #01073f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.texto-borde {
    -webkit-text-stroke: 0.25px rgb(192, 172, 172);
    color: transparent; 
}

.navbar {
    background-color: transparent !important;
}

#menu a {
    font-size: 90%;
    font-weight: 550;
    -webkit-text-stroke: 0.1px rgb(3, 197, 204);
    color: #ebe9e9;
}

iconos {
    font-size: 20px;
    padding: 0 8px;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #da5e5e;
    padding-top: 20px;
}

#info {
    display: flex;
    align-items: center;
}

.banner-info h1{
    color: white;
    font-weight: bold;
}
.banner-info > p {
    color: #ddd;
}

.banner-img {
    border-radius: 86% 31% 24% 76% / 53% 59% 41% 47%;
    max-height: 600px;
} 

/* particulas */
*       {
            margin: 0;
        }
#particles-js{
            background-color: #201F1F;
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
